@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: black;
}
.firstSec {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://occ-0-6661-56.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSnpDZhEY9nE-pg2EKgz-_yssJCAWUYhISz26TIj7OoeRUmjUtvX16WXCLL0AaFBC5yHVfkydg3y8aDG6xZ_O-pR1rXmbuaII-Pr.webp?r=e10);
  height: 65rem;
  background-size: cover;
  margin-bottom: 12rem;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 5px 50px;
}
.navLeft .img {
  padding: 20px;
}
.navLeft img {
  width: 10rem;
}
.navLeft {
  display: flex;
  justify-content: space-between;
}
.navLeft ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}
.navLeft ul li a {
  text-decoration: none;
  color: white;
}
.navRight {
  width: 20rem;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navRight img {
  width: 25px;
  padding: 10px;
}
.navRight a {
  text-decoration: none;
  color: white;
  padding: 15px;
}
.navRight svg {
  font-size: 25px;
}
.description svg {
  width: 45px;
}
.description {
  display: flex;
  justify-content: space-between;
  width: 16rem;
}
.logo h1 {
  font-family: "Agbalumo", sans-serif;
  color: white;
  font-size: 7rem;
  margin: 0;
}
.logo {
  padding: 5rem;
  margin-top: 3rem;
}
.description p {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.des {
  width: 35rem;
  font-size: 25px;
  color: white;
}
.button {
  margin-top: 60px;
}
.button a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 24px;
  padding: 20px 40px 12px 82px;
  position: relative;
  border-radius: 5px;
  font-weight: 500;
}
.button a svg {
  font-size: 47px;
  position: absolute;
  top: 9px;
  left: 36px;
  fill: black;
}
.button button {
  margin-left: 17px;
  width: 14rem;
  font-size: 29px;
  padding: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: #00000026;
  color: white;
}
.button button svg {
  font-size: 25px;
}
.movies {
  padding: 58px;
  color: white;
}
.topMovies {
  display: flex;
  justify-content: space-evenly;
}
.topMovies img {
  width: 11rem;
  height: 14rem;
  z-index: 0;
  position: relative;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  position: relative;
}
.img1::before {
  content: "1";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -105px;
  z-index: 0;
}
.img2::before {
  content: "2";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -131px;
  z-index: 0;
}
.img3::before {
  content: "3";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -127px;
  z-index: 0;
}
.img4::before {
  content: "4";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -127px;
  z-index: 0;
}
.img5::before {
  content: "5";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -127px;
  z-index: 0;
}
.img6::before {
  content: "6";
  position: absolute;
  font-size: 20rem;
  top: -75px;
  left: -127px;
  z-index: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 73px;
}
.watching,
.new,
.arabic {
  /* padding: 50px; */
  margin: 0;
}
.watching,
.new,
.arabic h1 {
  color: white;
  font-weight: 500;
}
footer {
  color: white;
  padding: 6rem 24rem;
  height: auto;
  font-size: 15px;
}
footer table tr td {
  padding: 20px;
}
footer a {
  color: grey;
}
